<div class="controll_panel bg_dark txt_white">

  <div class="nav_panel">
     <a class="border_white" href="/">Login and Registration minimal</a>
  </div>
  <div class="central_panel"></div>
  <div class="login_panel">
    {{#if user}}
    <a class="border_white" href="/user/{{user.id}}">
      <div class="avatar_mini">
        <img id = "mini_avatar" src="{{user.avatar}}" alt="{{user.name}}_avatar" />
      </div>
    </a>
    <a class="border_rigth border_white" href="/user/{{user.id}}">
      <b>
        {{user.name}}
      </b>
    </a>  
      <a href="/user/logout">logout</a>

    {{else}}
      <ul class="li_no_dots">
        <li>
          <a
            class="border_rigth border_white"
            href="/user/registration"
          >registration</a>
          <a href="/user/authentication">login</a>
        </li>
      </ul>
    {{/if}}
  </div>

</div>{{! controll_panel }}